*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter, Arial, sans-serif;
}

body{
background:#9fd3ad;
color:white;
overflow-x:hidden;
}

/* ===== Animated Logo Background ===== */

.bg{
position:fixed;
width:200%;
height:200%;
top:-50%;
left:-50%;

background:url("logo.png") repeat;
background-size:260px;

opacity:.12; /* БЫЛО 0.05 */

z-index:-2;

animation:moveBg 140s linear infinite;
}

@keyframes moveBg{
from{transform:translate(0,0);}
to{transform:translate(900px,700px);}
}


/* ===== Header ===== */

.header{
padding:30px 8%;
}

.logo{
display:flex;
align-items:center;
gap:12px;
}

.logo img{
width:45px;
}

/* ===== Hero ===== */

.hero{
height:70vh;
display:flex;
flex-direction:column;
justify-content:center;
padding:0 8%;
}

.hero h1{
font-size:60px;
max-width:800px;
}

.hero p{
opacity:.8;
margin-top:10px;
}

/* ===== Projects ===== */

.projects{
padding:80px 8%;
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(300px,1fr));
gap:40px;
}

/* ===== Card ===== */

.card{
background:rgba(255,255,255,.15);
backdrop-filter:blur(10px);
border-radius:20px;
overflow:hidden;
transition:.4s;
cursor:pointer;
}

.card:hover{
transform:translateY(-10px);
}

.card img{
width:100%;
height:240px;
object-fit:cover;
}

.card-content{
padding:20px;
}

/* ===== Viewer ===== */

.viewer{
position:fixed;
inset:0;
background:rgba(0,0,0,.9);
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
opacity:0;
pointer-events:none;
transition:.4s;
}

.viewer.active{
opacity:1;
pointer-events:auto;
}

.viewer img{
max-width:80%;
border-radius:12px;
margin-bottom:20px;
}

#close{
position:absolute;
top:30px;
right:40px;
font-size:32px;
cursor:pointer;
}

/* ===== Mobile ===== */

@media(max-width:768px){

.hero h1{
font-size:38px;
}

}
/* ===== PARTICLES ===== */

#particles{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
pointer-events:none;
}
